* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button {
    width: 170px;
    height: 60px;
    background: #d99655;
    margin: 0 auto;
    border: none;
    display: block;
    margin-bottom: 105px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;

    font-family: "Bebas Neue";
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;

    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
button:hover {
    background: #fff;
    color: #d99655;
}
.title-small {
    font-family: "Bebas Neue";
    font-weight: 400;
    font-size: 56px;
    line-height: 60px;
    margin-bottom: 15px;
}
.title-des {
    font-family: "Plus Jakarta Sans";
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 60px;
}
.hr {
    border: 1px solid #eeeeed;
    margin-bottom: 100px;
}
header {
    background: #fff0e3;
    padding: 40px 7px 0;
    nav {
        margin: 0 auto;
        background: #fff;
        max-width: 1434px;
        width: 100%;
        margin: 0 auto;
        padding: 0 42px;

        min-height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 94px;
        .buger {
            display: none;
            // padding: 7px;
            flex-direction: column;
            gap: 6px;
            width: 33px;
            height: 33px;
            justify-content: space-between;
            cursor: pointer;
            .line {
                border-radius: 100px;
                border: 2px solid #1e1c1a;
                width: 100%;
                height: 1px;
            }
            .line:first-child {
                width: 50%;
            }
        }
        span {
            font-family: "Plus Jakarta Sans";
            font-weight: 600;
            font-size: 15px;
            line-height: 30px;
            padding: 10px 30px;

            border-right: 1px solid #1e1c1a;
            cursor: pointer;
        }
        span:first-child {
            padding-left: 0;
        }
        span:last-child {
            border-right: none;
            padding-right: 0;
        }
        span:hover {
            color: #d99655;
        }
    }
    .title {
        font-family: "Bebas Neue";
        font-weight: 400;
        font-size: 70px;
        line-height: 82px;
        text-transform: uppercase;

        max-width: 970px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        color: #1e1c1a;
        margin-bottom: 40px;
    }

    .group-shoes {
        margin: 0 auto;
        max-width: 1170px;
        width: 100%;
        display: flex;
        // gap: 30px;
        gap: 2.5641%;
        align-items: flex-end;
        justify-content: space-between;
        .shoe {
            flex: 1 1 auto;
            max-width: 100%;
            display: flex;
            img {
                max-width: 100%;
            }
        }
        .shoe1 {
            max-height: 290px;
        }
        .shoe3 {
            max-height: 232px;
        }
    }
}

#sec-white {
    padding: 140px 0;
    .collection {
        padding: 0 20px;
        .collection-content {
            width: 100%;
            max-width: 1170px;
            margin: 0 auto;
            margin-bottom: 100px;
        }
        .collection-img-content {
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
            img {
                max-width: 100%;
            }
        }
    }

    .arrivals {
        padding: 0 20px;
        .arrivals-content {
            width: 100%;
            max-width: 1170px;
            margin: 0 auto;
            margin-bottom: 100px;
        }
        .collection-content {
            display: flex;
            // gap: 30px;
            flex-wrap: wrap;
            .collection-item {
                border-bottom: 2px solid #eeeeed;
                display: flex;
                flex-direction: column;
                flex: 1 1 auto;
                padding-bottom: 60px;
                padding-right: 30px;
                padding: 0 20px 60px 10px;
                // #1E1C1A

                .item-id {
                    font-family: "Bebas Neue";
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 30px;
                }
                img {
                    margin-bottom: 24px;
                    max-width: 370px;
                    width: 100%;
                }
            }
            .collection-item:hover {
                border-bottom: 2px solid #1e1c1a;
            }
            .collection-item:first-child {
                padding-left: 0;
            }
            .collection-item:last-child {
                padding-right: 0;
            }
            .item-info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .info-left {
                    display: flex;
                    flex-direction: column;
                    .item-title {
                        font-family: "Plus Jakarta Sans";
                        font-weight: 600;
                        font-size: 27px;
                        line-height: 40px;
                    }
                    .item-price {
                        font-family: "Plus Jakarta Sans";
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 30px;
                    }
                }
                .fa-cart-shopping {
                    padding: 20px;
                    border-radius: 50%;
                    background: #fff0e3;
                }
            }
        }
    }
}
#sale {
    background: #1e1c1a;
    padding-top: 103px;
    .sale-top {
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        padding-right: 138px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
        .sale-top-left {
            display: flex;
            flex-direction: column;
            max-width: 447px;
            font-weight: 400;
            color: #ffffff;
            .sale-time {
                font-family: "Poppins";
                font-size: 18px;
                line-height: 28px;
                color: #fff0e3;
                margin-bottom: 11px;
            }
            .sale-des1 {
                font-family: "Poppins";
                font-size: 30px;
                line-height: 28px;
                margin-bottom: 22px;
            }
            .sale-des2 {
                font-family: "Poppins";
                font-size: 18px;
                line-height: 28px;
                opacity: 0.7;
            }
        }
    }
    .sale-bot {
        overflow: hidden;
        .sale-bot-content {
            display: flex;
            gap: 33px;
            align-items: flex-end;
            transform: translateX(-180px);
        }
    }
}
#trending {
    padding: 140px 0 140px 20px;
    overflow: hidden;
    .trending-content {
        .trending-top {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 1170px;
            margin: 0 auto;
            align-items: center;
            .trending-right {
                display: flex;
                gap: 35px;
                img {
                    cursor: pointer;
                }
            }
        }
        .list-logo {
            // margin-left: 13.4375%;
            margin-left: calc((100vw - 1170px) / 2);
            display: flex;
            gap: 30px;
        }
    }
}

#purpose {
    padding: 100px 20px 0;
    background: #fff0e3;
    .purpose-top {
        width: 100%;
        max-width: 970px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: calc((100vw - 1170px) / 2);
        .title-small {
            margin-bottom: 20px;
        }
        .title-des {
            margin-bottom: 20px;
        }
        .title-des-purpose-2 {
            margin-bottom: 40px;
        }
        button {
            margin: unset;
        }
    }
    .purpose-img {
        display: flex;
        gap: 2.5641%;
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        align-items: flex-end;
        img {
            width: 100%;
            max-width: 100%;
        }
        .purpose-img-div {
            display: flex;
        }
    }
}

#visit {
    overflow: hidden;
    .visit-top {
        transform: translateX(-230px);
        display: flex;
        gap: 13px;
        align-items: center;
        padding: 60px 0 100px;
        width: max-content;
        .text-visit {
            font-family: "Bebas Neue";
            font-size: 56px;
            line-height: 60px;
        }
        .fa-play {
            background: #fff0e3;
            padding: 34px;
            border-radius: 50%;
        }
    }
    .visit-bot {
        padding-bottom: 140px;
        .visit-bot-title {
            padding: 0 20px;
        }
        .visit-bot-title-content {
            width: 100%;
            max-width: 1170px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .info-ig {
                font-family: "Poppins";
                font-size: 24px;
                line-height: 28px;
                color: #504c48;
                text-decoration-line: underline;
            }
        }
        .visit-img {
            width: max-content;
        }
    }
}

footer {
    background: #1e1c1a;
    padding-top: 78px;
    .footer-top {
        display: flex;
        flex-direction: column;
        max-width: 581px;
        margin: 0 auto;
        margin-bottom: 114px;
        color: #fff;
        align-items: center;
        text-align: center;
        img {
            margin-bottom: 14px;
            width: 85px;
        }
        .title-des {
            line-height: 30px;
            margin-bottom: 25px;
            color: #fffdf9;
            font-family: "Poppins";
            opacity: 0.7;
        }
        span {
            font-family: "Poppins";
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            letter-spacing: 0.01em;
            color: #fffdf9;
            opacity: 0.3;
        }
    }
    .footer-bot {
        max-width: 920px;
        margin: 0 auto;
        padding: 0 57px 0 52px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        color: #fff;
        margin-bottom: 120px;
        .footer-bot-1,
        .footer-bot-2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .footer-bot-1 {
            border-bottom: 1px solid #b4b4b4;
            padding-bottom: 50px;
            .footer-bot-title {
                max-width: 153px;
            }
        }
        .footer-bot-2 {
            .footer-bot-title {
                max-width: 178px;
            }
        }
        .footer-bot-title {
            font-family: "Poppins";
            font-size: 18px;
            line-height: 26px;
            color: #fffdf9;
            opacity: 0.6;
        }
        .footer-bot-info {
            font-family: "Poppins";
            font-size: 40px;
            line-height: 52px;
            letter-spacing: -0.02em;
            color: #fffdf9;
            max-width: 502px;
        }
    }
    .hr {
        opacity: 0.2;
        margin-bottom: 0;
    }
    .copyright {
        padding: 35px 0 47px 0;
        font-family: "Poppins";
        font-size: 18px;
        line-height: 26px;
        color: #ffffff;
        opacity: 0.3;
        text-align: center;
    }
}

//responsive
@media screen and (max-width: 1210px) {
    #trending .trending-content .list-logo,
    #purpose .purpose-top {
        margin-left: 0;
    }
}

@media screen and (max-width: 840px) {
    .menu-left,
    .menu-right {
        display: none;
    }
    header nav {
        min-height: 59px;
        margin-bottom: 71px;
        padding: 0 13px;
        .buger {
            display: flex;
            padding: 6px;
        }
        img {
            max-width: 52px;
        }
    }
}

@media screen and (max-width: 767px) {
    header .title {
        text-align: start;
        font-size: 42px;
        line-height: 50px;
    }
    button {
        margin: unset;
        margin-bottom: 65px;
    }

    #sec-white {
        padding: 80px 0;
        .collection .collection-content {
            margin-bottom: 80px;
        }
        .arrivals {
            .arrivals-content {
                margin-bottom: 0;
            }
            .collection-content {
                .collection-item {
                    padding: 0;
                    padding-bottom: 42px;
                    img {
                        max-width: none;
                    }
                }
                .collection-item-2,
                .collection-item:last-child {
                    display: none;
                }
            }
        }

        .hr {
            display: none;
        }
    }

    #sale {
        padding-top: 48px;
        .sale-top {
            flex-direction: column;
            padding-left: 20px;
            gap: 34px;
            align-items: flex-start;
            margin-bottom: 60px;
            padding-right: 0;
            button {
                margin-bottom: 0;
            }
        }
        .sale-bot .sale-bot-content {
            transform: translateX(-334px);
            gap: 17px;
            img {
                max-width: 159px;
            }
        }
    }

    #trending {
        padding: 80px 20px;
        .trending-content {
            .trending-top .trending-right {
                display: none;
            }
            .list-logo {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 18px;
                img {
                    max-width: 100%;
                }
            }
        }
    }

    #purpose {
        padding: 50px 20px 0;
        .purpose-top {
            margin-bottom: 80px;
            .title-small {
                margin-bottom: 10px;
            }
        }
        .purpose-img {
            flex-direction: row-reverse;
        }
    }

    #visit {
        .visit-top {
            padding: 40px 0 80px;
        }
        .hr {
            display: none;
        }
        .visit-bot {
            .visit-bot-title-content {
                flex-direction: column;
                gap: 10px;
                margin-bottom: 30px;
                align-items: flex-start;
            }
            .visit-img {
                transform: translateX(-100px);
                display: flex;
                gap: 27px;
            }
        }
    }

    footer .footer-bot .footer-bot-1,
    .footer-bot-2 {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 20px;
        .footer-bot-title {
            max-width: none !important;
        }
    }

    .title-small {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 10px;
    }
    .title-des {
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 24px;
    }
}
